
@{
    ViewBag.Title = "CoHoiNgheNghiep";
    Layout = "~/Views/Shared/_Index.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}
<style>
    .content_giohang {
        min-height: 527px;
        margin: 3% 20% 3% 20%;
    }
</style>

<h1>Cơ Hội Nghề Nghiệp</h1>
<div class="content_giohang">
    <div class="alert alert-success">
        <h2>Giới Thiệu</h2>
        StarWars đang tìm kiếm những ứng viên có thể giao tiếp bằng hai ngôn ngữ Việt Anh, có niềm đam mê lớn trong nghành kinh doanh luôn tìm hiểu và đáp ứng nhu cầu khách hàng, yêu thích làm việc nhóm, không quản ra về muộn và đi làm sớm; những bạn trẻ hiểu được rằng sự cố gắng sẽ được tưởng thưởng xứng đáng không chỉ bằng thu nhập tốt mà còn bằng cơ hội phát triển nghề nghiệp một cách chuyên nghiệp; những ứng viên có tình yêu lớn đối với cà phê và lịch sử của nó, quan trọng hơn nữa là có tinh thần học hỏi cao và một tâm hồn rộng mở.
        <br/>
        Hãy đến với chúng tôi, Starbucks sẽ cùng bạn đi trên con đường phát triển một sự nghiệp bền vững và cho bạn thấy cách chúng tôi giao hòa giữa Trách Nhiệm Cộng Đồng, Sự Cam Kết, và Lòng Nhiệt Thành trong một Công ty tuyệt vời như Starbucks.
        <br/>
        <h3>Những năng lực quan trọng nhất của đối tác</h3>
        <br/>
        Đặt khách hàng lên hàng đầu: Liên tục quan tâm đến khách hàng, hiểu được mong muốn của khách hàng và biết cách để mang đến cho khách hàng những trải nghiệm tuyệt vời nhất.
       <br />
        Kỹ năng làm việc nhóm tốt: Lắng nghe và giao tiếp tốt với những thành viên khác trong và ngoài Công ty Starbucks, tạo ra một môi trường làm việc nhóm thân thiện và hiệu quả.
        <br />
        Khả năng Lãnh đạo: Tinh thần trách nhiệm làm việc đúng chuẩn mực, vững vàng trong môi trường bất ổn và thử thách, thích nghi nhanh chóng với sự thay đổi để kịp thời đưa ra những quyết đinh đúng đắn.
        <br />
        Tiềm năng phát triển trong tương lai: Liên tục tìm kiếm các cơ hội để phát triển cho bản thân và cho mọi người. Lãnh đạo bằng niềm tin, sự trung thực, và cam kết tuyển dụng, đào tạo và phát triển các đối tác theo đúng tiềm năng của họ.
        <br />
        Hiệu quả công việc cao: Hiểu biết tổng quát về các yếu tố xây dựng nên thành công của Công ty, chịu trách nhiệm mang lại hiệu quả tối ưu cho công việc được giao. Có kiến thức về những giá trị cốt lõi của Công ty và con đường để đạt kết quả tốt nhất trong công việc, không ngại khó khăn và biết hành động để giảm thiểu tác động của chúng.

    </div>
</div>

