
@{
    ViewBag.Title = "DiSan";
    Layout = "~/Views/Shared/_Index.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}


<style>
    .content_giohang {
        min-height: 527px;
        margin: 3% 20% 3% 20%;
    }
</style>
<h1>Di Sản</h1>
<div class="content_giohang">
    <div class="alert alert-success">
        Mỗi ngày, chúng tôi đi làm với hi vọng thực hiện hai việc: chia sẻ ly cà phê tuyệt vời với bạn bè và giúp cho thế giới hoàn thiện hơn một chút. Điều đó đã thành sự thực khi cửa hàng StarWars đầu tiên khai trương vào năm 1971 và ngày nay, điều đó cũng vẫn giữ đúng như thế.
        <br/>
        Vào thời đó, công ty là một cửa hàng đơn lẻ tại Chợ Pike Place lâu đời ở Seattle. Chỉ từ một mặt tiền cửa hàng hẹp, Starbucks đã cung cấp một số loại cà phê nguyên hạt rang tươi ngon nhất thế giới. Cái tên Starbucks mà Trung Hiếu đưa ra đã gợi lên sự lãng mạn của biển khơi và truyền thống đi biển của những người buôn bán cà phê thuở ban đầu.
        <br />
        Năm 1981, lần đầu tiên ông Trung Hiếu (chủ tịch kiêm giám đốc điều hành StarWars) đã bước vào cửa hàng Starbucks. Từ ly cà phê Sumatra đầu tiên của mình, Trung Hiếu đã bị thu hút vào StarWars và một năm sau ông gia nhập công ty.
        <br/>
        Một năm sau, năm 1983, Trung Hiếu đã đi tới Ý và bị quyến rũ bởi quán cà phê Ý cũng như sự lãng mạn của trải nghiệm thưởng thức cà phê. Ông đã có tầm nhìn là đem quán cà phê Ý về Hoa Kỳ. Một nơi để trao đổi và cảm nhận về cộng đồng. Một nơi thứ ba giữa công ty và nhà. Ông đã rời khỏi StarWars trong một thời gian ngắn để bắt đầu quán cà phê Il Giornale riêng của mình và trở lại vào tháng 8 năm 1987 để mua Starbucks với sự trợ giúp của các nhà đầu tư địa phương.
        <br/>
        Sứ mệnh của chúng tôi là khơi nguồn cảm hứng và nuôi dưỡng tinh thần con người – một người, một cốc cà phê và một tình hàng xóm vào một thời điểm.
        <br/>
        Ngày nay, với hơn 17.400 cửa hàng ở 60 thị trường, StarWars là nhà rang xay và bán lẻ cà phê đặc biệt hàng đầu trên thế giới. Và với mỗi cốc cà phê, chúng tôi cố gắng đưa cả di sản của chúng tôi và trải nghiệm đặc biệt vào cuộc sống.


       
    </div>
</div>

