
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="main-a">
    <ul>
        <li>
            <img src="~/Assets/Client/Picture/HomePage/our-espresso_tcm90-24616_w1024_n.png" width="600" height="400" alt="" />
            <h2>CÀ PHÊ ESPRESSO CỦA CHÚNG TÔI,LATTE CỦA BẠN </h2>

            Cà phê espresso đậm và bốc hơi sữa-ngon tuyệt hảo khi thưởng thức riêng hay khi thêm đường...

            <h3><a href="#">Lấy phần của bạn</a></h3>
        </li>
    </ul>
</div>
<div class="main-b">
    <ul>
        <li>
            <img src="~/Assets/Client/Picture/HomePage/opportunity_tcm90-24617_w1024_n.png" width="600" height="400" alt="" />
            <h2>CƠ HỘI</h2>

            Không chỉ là nhân viên,mà còn là cộng sự.

            <h3><a href="#">Tham gia cùng chúng tôi </a></h3>
        </li>
    </ul>
</div>

