
@{
    ViewBag.Title = "DatHangThanhCong";
    Layout = "~/Views/Shared/_Index.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}

<style>
    .content_giohang {
        min-height: 527px;
        margin: 3% 20% 3% 20%;
    }
</style>
<div class="content_giohang">
    <div class="alert alert-success">
        Xin chào quý khách!
        Cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi và chúc quý khách có một ngày hạnh phúc bên gia đình cùng StarWars!<br />
        <br />
        Thông tin đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên lạc lại với quí khách trong vòng 5 phút nữa
        để xác nhận đơn hàng qua số điện thoại <b> 0921-156-997 </b>, mong quý khách tiếp nhận cuộc gọi để chúng tôi được phục vụ một cách tốt nhất.<br />
        <br />
        Chúng tôi rất hân hạnh được phục vụ quý khách, mọi thắc mắc xin quý khách vui lòng liên hệ qua hotline <b>0921-156-997</b><br />
        <br />
        Xin chân thành cảm ơn!<br />
        <a href="/trang-chu" class="dngaz"><h2>Về trang chủ</h2></a>
        
    </div>
</div>

